*{
    box-sizing: border-box;
}
.container{
    background-color: gray;
    height: 100vh;
}


.box{
    background-color: antiquewhite;
    border: 2px solid;
    padding: 25px;
    min-height: 50%;
    max-width: 50%;
    float: left;
    
}