div{
    background-color: rgb(234, 40, 176);
    width: 100px;
    height: 100px;
    display: block;
}
span{
    background-color: rgb(179, 101, 101);
    width: 100px;
    height: 100px;
    display: inline;
}